.section-product {
    width: 100%;
    max-width: 1440px;
    height: 600px;
    background-color: #AEE2DF;
    position: relative;
    top: 70px;
}

.bg-section-product {
    width: 100%;
    display: none;
}